.scoreboard{
    margin: 10px;
    width: 20%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px Solid black;
    background-color: transparent;
    color:white     
    
}

.shop{
    margin: auto;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px Solid black;
    background-color: white;
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    
}
 
body{
    background-image: url('./Minifantasy_ForgottenPlains_v3.5_Free_Version/Minifantasy_ForgottenPlains_Assets/Minifantasy_ForgottenPlainsMockup.png');
    background-size: contain;
}
