body{
    background: url('./assets/Minifantasy_ForgottenPlains_v3.5_Free_Version/Minifantasy_ForgottenPlains_Assets/Minifantasy_ForgottenPlainsMockup.jpg') no-repeat fixed center;
}

.scoreboard{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px Solid black;
    background-color: white;
    position: fixed;
    right: 0;
    opacity: .8;

        
    
}

#shop{
    margin: auto;
    width: 90%;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px Solid black;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    color: white;
}


.shopitem{
    background-color: transparent;
    color: white;
}

#points{
    /* border: none; */
    background-color: transparent;
    position: absolute;
    left: 35%;
    top: -30%;
    height: 100px;
    width: 100px;
    color: white;
    
}  

.upgrades{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 10%;
    position: absolute;
    left: 0;
    color: white;

}
.upgradeInventory{
    display: none;
}

#tree{
    transform: scale(.3);
    margin-top: -100px;
}

.building{
    height: 50px;
    width: 50px;
}
.Axe{
    height: 50px;
    width: 50px;
}
.worker{
    height: 50px;
    width: 50px;
}

